user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_conf.worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        {{ nginx_conf.sendfile }};
    tcp_nopush     {{ nginx_conf.tcp_nopush }};
    tcp_nodelay    {{ nginx_conf.tcp_nodelay }};

    keepalive_timeout  65;

    #gzip  on;

    include {{ nginx_virtualhosts.enabled }}/*.conf;
    include /etc/nginx/conf.d/*.conf;
}
